header {
    background: #BBBBBB;
    padding: 10px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: gold;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    padding: 5px;
    background-image: linear-gradient(to right, black , gray);
    border-radius: 25%;
}

nav a:hover {
    background: black;
    color: white;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 45px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
}

.produtos li:hover {
    border-color: gold;
}

.produtos li:active {
    border-color: green;
}

.produtos h2 {
    font-size: 25px;
    font-weight: bold;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background: url(bg.jpg);
    text-align: center;
    padding: 25px 0;
}

.copyright {
    color: white;
    font-size: 15px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 23px;
    margin-bottom: 6px;
}

.input-padrao {
    display: block;
    font-size: 18px;
    margin-bottom: 25px;
    width: 45%;
    padding: 10px 25px;
}

.teste {
    margin-top: 20px;
}

.checkbox {
    margin: 20px 0;
}