body {

}

header {
    background: black;
}

.caixa-home h1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 8px;
}

.caixa-home {
    position: relative;
    height: 50px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.beneficios {
    background: white;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.imagem-beneficios {
    width: 50%;
}